<launch>
    <node name="myo" pkg="rosmyo" type="rosmyo_node" output="screen">
        <param name="~imu_enabled" value="true" />
        <param name="~emg_enabled" value="false" />
        <param name="~classifier_enabled" value="false" />
        <param name="~myo_identifier" value="Myo" />
        <param name="~serial_port" value="/dev/ttyACM0" />
    </node>
</launch>