<launch>
    <group ns="myos">
         <node name="arm" pkg="rosmyo" type="rosmyo_node" output="screen">
            <param name="~imu_enabled" value="true" />
            <param name="~myo_identifier" value="ArmDx" />
            <param name="~serial_port" value="/dev/ttyACM0" />
        </node>
        <node name="forearm" pkg="rosmyo" type="rosmyo_node" output="screen">
            <param name="~emg_enabled" value="true" />
            <param name="~imu_enabled" value="true" />
            <param name="~myo_identifier" value="ArmSx" />
            <param name="~classifier_enabled" value="true" />
            <param name="~serial_port" value="/dev/ttyACM1" />
        </node>
    </group>

    <node name="pose_estimator" pkg="myoarmpose" type="myoarmpose_node" output="screen">
        <param name="~arm_imu_topic" value="/myos/arm/imu" />
        <param name="~forearm_imu_topic" value="/myos/forearm/imu" />
        <param name="~forearm_pose_topic" value="/myos/forearm/classifier_pose" />
        <param name="~nao_joints_topic" value="/nao_robot/pose/joint_angles" />
        <param name="~nao_arm" value="right" />
    </node>
</launch>
